body {
  font-family: arial, helvetica;
  text-align: center;
}

/* #container {} */

#directions,
#flashlight,
#dance-party {
  margin: 4px;
}

ol {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.big-button {
  font-size: 18px;
}

.box {
  display: flex;
  justify-content: center;
}

.box-item label {
  margin-right: 5px;
  text-align: right;
}

.box-item {
  text-align: left;
  min-width: 50px;
}
